.navbar {
    transition: background-color 0.4s ease-in-out;
}
.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.team-card {
    transition: transform 0.3s ease-in-out;
}
.team-card:hover {
    transform: scale(1.05);
}
